{% extends "base.html" %}
{% block  title%}Change Profil{% endblock %}
{% block  content%}
<h1 align="center">Change Profil</h1>
    <div id="Changing Profil">
    <img src="../static/Profil_images/{{user.img_profile}}" alt="image" width="200" height="200" align="center" style="border-radius: 50%; margin-left: 40%; margin-top: 5%">
    <h5 align="center">{{ user.firstName }}</h5>
        <br>
    <p align="center">{{ user.profile_description }}</p>
        <br>
    <h4 align="center">Change your profil </h4>
        <br>
<form method="POST" enctype="multipart/form-data">
    <textarea name="profile_description" id="profile_description" class="form-control" placeholder="Enter profile description"></textarea>
    <br>
    <input type="file" id="image_change" accept="image/*" name="image_change" >
    <div id="imageContainer">
        <img id="loadedImage" src="#" alt="Loaded Image">
    </div>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</form>
    </div>
{% endblock %}
