{% extends "base.html" %} {% block  title%}Home{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="../static/CSS-files/style_home.css">
{% endblock %}
{% block navbar %}
    <a class="nav-item nav-link" href="/Create_Post">
        <img src="../static/Icons/Post.png" width="25" height="25" class="d-inline-block align-top" alt="">
    </a>
    <div align="right">
    <a class="nav-item nav-link" href="#">
        <img src="../static/Profil_images/{{ user.img_profile }}" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ user.firstName }}
    </a>

    </div>
{% endblock %}
{% block content %}
<h1>Posts</h1>
    <br>
    {% for post in posts %}
        <div class="user-post" align="left">
                    <img src="../static/Profil_images/{{ post.users.img_profile }}" width="30" height="30" class="d-inline-block align-top" alt="">{{ post.users.firstName }}
                </div>
            <div class="post-layour">
                <div class="post-content" align="center">
                {{ post.text }}
                <br>
                {{ post.date }}
                </div>
            </div>
        <br>
    {% endfor %}
{% endblock %}
