{% extends "base.html" %} {% block  title%}Sign-up{% endblock %}
{% block content %}
<form method = "POST">
    <h3 align="center">Sign-up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        <label for="firstName">Nickname</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nickname">
        <label for="password1">Enter Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>
{% endblock %}